<h2>Check Contracts In 3 countries</h2>

<label>Put daily rate in PLN</label> <br >
<input [(ngModel)]="data.daysRate" placeholder="Product Name"/>

<br><br>

<button (click)="contract()">Check</button>

<ul class="contracts">
  <li *ngFor="let c of contracts; let i=index;">
      <b>{{c.country.name}}</b> - {{c.amountInLocalCurrency | currency : 'PLN' : true : '1.2-2'}}  per month
  </li>
</ul>
